0 0                 \\ Node 1 Coordinates (x, y)
0 0                 \\ Node 2 Coordinates (x, y)
0 0                 \\ Node 3 Coordinates (x, y)
0 0                 \\ Node 4 Coordinates (x, y)
0 0                 \\ Node 5 Coordinates (x, y)
0 0                 \\ Node 6 Coordinates (x, y)
0 0                 \\ Node 7 Coordinates (x, y)
0 0                 \\ Node 8 Coordinates (x, y)
2                   \\ Number of client partitions (N)
0 0 1 1 50          \\ Square of partition 1 (x0, y0, x1, y2, % of clients)
2 2 3 3 50          \\ Square of partition 2 (x0, y0, x1, y2, % of clients)